<div class="dropdown profile-element">
  <span><img alt="image" class="img-circle" src="/assets/img/profile.jpg" /></span>
  <a data-toggle="dropdown" class="dropdown-toggle" href="#">
    <span class="clear">
      <span class="block m-t-xs">
        <strong class="font-bold">Arya Emini</strong>
      </span>
      <span class="text-muted text-xs block">Java Developer <b class="caret"></b></span>
    </span>
  </a>
  <ul class="dropdown-menu m-t-xs">
    <li><a href="#">Profile</a></li>
    <li><a href="#">Contacts</a></li>
    <li><a href="#">Mailbox</a></li>
    <li class="divider"></li>
    <li><a href="#">Logout</a></li>
  </ul>
</div>
<div class="logo-element">IN+</div>
