<div class="row">
  <div class="col-lg-12">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h5>Finance <small class="m-l-sm">Harcanan kazanilan</small></h5>
        <div class="ibox-tools">
          <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
          <a class="close-link"><i class="fa fa-times"></i></a>
        </div>
      </div>
      <div class="ibox-content">
        Finance content is here
      </div>
      <div class="ibox-footer">
        Finance footer
      </div>
    </div>
  </div>
</div>
